* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    to right top,
    #01062E,
    #02084A,
    #02084A,
    #02084A,
    #01062E
  );
  /* background: rgb(5,12,110);
  background: linear-gradient(171deg, rgba(5,12,110,1) 0%, rgba(14,27,138,1) 97%); */
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
  box-shadow: 1px 2px 18px 12px rgba(10, 11, 24, 0.84);
  -webkit-box-shadow: 1px 2px 18px 12px rgba(34, 53, 210, 0.84);
  -moz-box-shadow: 1px 2px 18px 12px rgba(10, 11, 24, 0.84);
  background: #7887F1;
  border-radius: 10px;
}

img {
  margin-top: 8px;
  width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: #2235D2 solid 4px;
}

h1 {
  font-size: 32px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-top: 16px;
  margin-bottom: 8px;
}

p {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
  padding: 16px 34px;
}

ul li a:hover{
  background-color: #364fc7;
}

ul li a {
  text-shadow: black 0.1em 0.1em 0.2em;

  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5465E3;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;
  transition: background 400ms;
}

footer{
  margin-top: 48px;
  font-weight: 500;
  font-size: 15px;
  color:  white ;
  opacity: 0.6;
}




